@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Montserrat:wght@800&display=swap');

@import "tailwindcss";

a.active hr {
  display: block;
}

* {
  font-family: 'Lora', serif;
  font-weight: 600;
  font-style: normal;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
}

h1, h2, .montserrat {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}
@media (max-width: 640px) {
  a.active {
    background-color: black;
    color: white;
  }
}

.fade-in {
  opacity: 1;
  transition: opacity 0.7s ease-in-out;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.blink {
  animation: blink 4s infinite;
}

@keyframes fancyBlink {
  0% { opacity: 1; color: red; transform: scale(1); }
  50% { opacity: 0.7; color: blue; transform: scale(1.5); }
  100% { opacity: 1; color: red; transform: scale(1); }
}

.fancy-blink {
  animation: fancyBlink 4s infinite alternate;
}