---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="flex w-full items-center justify-center text-black mt-16 text-l md:text-5xl">
    Din păcate pagina căutată de dumneavoastră nu există
  </div>
</Layout>
